{% extends "base.html" %}

{% comment %}

    <form action="{% url 'login' %}" method="post" >
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login">
    </form>

{% endcomment %}

{% if form.token.errors %}

  {% block login-form-group %}
  <div class="form-group has-error has-feedback">                  
    <label class="control-label" for="token">Invalid token&nbsp;</label>
    <input type="text" placeholder="Token" class="form-control" name="token">
    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
  </div>
  {% endblock %}

{% endif %}