{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}
    <div>
        {{ variant.quest.name }}
    </div>
    <div>
        {{ variant.html | safe }}
    </div>
    <div>
        <form action="{% url 'quests.views.answer_task_by_id' variant.quest.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Answer" />
        </form>
    </div>

    <div id="solved-by">
        <h2>Already solved by</h2>
        {% for team in variant.quest.solved_by %}
            <div class="teams">
                <a href="{% url 'teams.views.show' team.name %}">{{ team.name }}</a>
            </div>
        {%  endfor %}
    </div>
{% endblock %}