@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/static/fonts/glyphicons-halflings-regular.eot');
  src: url('/static/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.tasks .task * {
  font-size: 10pt !important;
}

.i18n {
  position: absolute;
  right: 50px;
}

.btn-border-success {
  border-color:#4cae4c !important;
}

.bs-callout{margin:20px 0;padding:20px;border-left:3px solid #eee}.bs-callout h4{margin-top:0;margin-bottom:5px}.bs-callout p:last-child{margin-bottom:0}.bs-callout code{background-color:#fff;border-radius:3px}.bs-callout-danger{background-color:#fdf7f7;border-color:#d9534f}.bs-callout-danger h4{color:#d9534f}.bs-callout-warning{background-color:#fcf8f2;border-color:#f0ad4e}.bs-callout-warning h4{color:#f0ad4e}.bs-callout-info{background-color:#f4f8fa;border-color:#5bc0de}.bs-callout-info h4{color:#5bc0de}.bs-callout h4{margin-top:0;margin-bottom:5px}