{% extends "base.html" %}

{% block scripts %}
    {{ block.super }}
    <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<!--
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
<!-- -->
{% endblock %}

{% block content %}
    <style type="text/css">
        .solved {
            background: red;
        }
    </style>

    <script>
    $.fn.isOnScreen = function(){
        var win = $(window);

        var viewport = {
            top : win.scrollTop(),
            left : win.scrollLeft()
        };
        viewport.right = viewport.left + win.width();
        viewport.bottom = viewport.top + win.height();

        var bounds = this.offset();
        bounds.right = bounds.left + this.outerWidth();
        bounds.bottom = bounds.top + this.outerHeight();

        return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));
    };
    </script>

    <script>
        var latest_url =  "{% url 'board.views.get_last_answers' %}"
        var more_url = "{% url 'board.views.get_more_answers' %}"
        function get_latest_data(data_callback, answer) {
            $.post(latest_url, {
                'min_date' : answer.created_at,
                'id' : answer.id,
            }).done(data_callback);
        }
        function get_more_data(data_callback, answer) {
            if (!app.pending_request()) {
                $.post(more_url, {
                    //'min_date' : answer.created_at,
                    'id' : answer.id,
                    'count': 20
                }).done(data_callback).done(function() {
                    app.pending_request()
                }).error( function(){
                   app.pending_request(false)
                });
            }
        }

        function map_tasks(data) {
            return $.map(data, function(item) { return new Answer(item) });
        }

        var initial = {{ answers|safe }};

        function Answer(data){
            this.is_checked = data.is_checked
            this.is_success = data.is_success
            this.team = data.quest_variant__team__name
            this.quest = data.quest_variant__quest__shortname
            this.answer = data.answer
            this.result = data.result
            this.created_at = data.created_at
            this.created = new Date(data.created_at)
            this.id = data.id
            this.score = data.quest_variant__quest__score
            this.category = data.quest_variant__quest__category__name

            this.filter = function(element) {
                return _.every(self.search_patterns(), function(pattern) {
                    return _.some(self.search_fields(), function(field) {
                    // console.log('Check' + element + ' vs ' + field)
                       return _.contains((element[field] + '').toLowerCase(), pattern)
                    })
                })
            }
        }
        var ViewModel = function(initial) {
            self = this
            this.search_string = ko.observable('')
            this.search_patterns = ko.computed(function() {
                return self.search_string().trim().toLowerCase().split(/\s+/);
            })
            this.answers = ko.observableArray(map_tasks(initial))
            this.last_answer = ko.computed(function(){
                if(self.answers()) {
                    return self.answers()[0]
                }
            })
            this.oldest_answer = ko.computed(function(){
                if(self.answers()) {
                    return self.answers()[self.answers().length-1]
                }
            })

            this.search_fields = ko.observableArray([
                    'team', 'quest', 'answer', 'score', 'category'
            ])
            this.pending_request = ko.observable(false)

            this.append_data = function append_data(data) {
                // console.log("Got data batch: " + data.length)
                map_tasks(data).reverse().forEach(function(element){
                    self.answers.unshift(element)
                })

            }

            this.unshift_data = function(data) {
                map_tasks(data).forEach(function(element){
                    self.answers.push(element)
                })
            }

            this.load_data = function load_data() {
                get_latest_data(self.append_data, self.last_answer())
            }

            this.load_more = function () {
                get_more_data(self.unshift_data, self.oldest_answer())
            }
            this.scrolled = function(data, event) {
                console.log("Have scrolled")
                console.log(data)
                console.log(event)

                var elem = event.target;
                if (elem.scrollTop > (elem.scrollHeight - elem.offsetHeight - 200)) {
                    self.load_more();
                }
            };
            this.visible_checker = function() {
                if ($('#show-more').isOnScreen()) {
                    self.load_more()
                }
            }

            this.loader = setInterval(self.load_data, 1000);
            this.moares = setInterval(self.visible_checker, 1000);

        };
    </script>

    <div class="answer-list">
        <ul class="row">
            <input type="search" class="form-control" data-bind="value: search_string, valueUpdate: 'afterkeydown', , event: { scroll: $root.scrolled }" placeholder="Search here">
        </ul>
        <ul data-bind="foreach: answers, visible: answers().length > 0">
            <div class="answer row" data-bind="visible: filter($data), css: { 'alert-success': (is_checked && is_success), 'alert-danger': (is_checked && !is_success) }, event: { scroll: $root.scrolled }">
                <div class="team_name   col-xs-1" data-bind="text: id"></div>
                <div class="team_name   col-xs-2" data-bind="text: team"></div>
                <div class="quest_id    col-xs-1" data-bind="text: (category + ':' + score)"></div>
                <div class="quest_name  col-xs-2" data-bind="text: quest"></div>
                <div class="answer_text col-xs-4" data-bind="text: answer"></div>
                <div class="answer_time col-xs-2" data-bind="text: created.toLocaleString()"></div>
            </div>
        </ul>
        <ul>
            <div id="show-more" class="btn btn-primary btn-block" data-bind="disables: pending_request">More</div>
        </ul>
    </div>

    <script>
        app = new ViewModel(initial)
        ko.applyBindings(app);
//        app.answers(map_tasks(initial))

    </script>

{% endblock %}
