{% extends "base.html" %}

{% block page_header %}TASKS{% endblock %}

{% block content %}

    <div class="well">
	<h4>Breaking news!</h4>
	<div><b>08.03.2014 20:50 MSK</b>. Task <a href="{% url "quests.views.open_task_by_id" 23 %}">reverse:100</a> (Bad lib) has been updated.</div>
    </div>

    <div class="tasks row">
      {% for category_name, tasks in by_categories %}
        <div class="col-xs-3 col-sm-3 col-md-2" style="height: 250px">
          <h2>{{ category_name }}</h2>
          {% for task in tasks %}
            <div class="task">
              {% if task.is_solved %}
                {% if user.is_authenticated %}
                  <p><a class="btn btn-success" disabled="disabled" title="Task is already solved"><span class="glyphicon glyphicon-ok"></span> {{ task.score }}. {{ task.name }}</a></p>
                {% else %}
                  <p><a class="btn btn-default btn-border-success" disabled="disabled"> {{ task.score }}. {{ task.name }}</a></p>
                {% endif %}
              {% elif task.is_open %}
                <p><a class="btn btn-primary" href="{{ task.get_absolute_url }}" role="button">{{ task.score }}. {{ task.name }}</a></p>
              {% else %}
                <p><a class="btn btn-default" disabled="disabled" title="Task is closed">{{ task.score }}. {{ task.name }}</a></p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

{% endblock %}
