{% extends "base.html" %}

{% block content %}
    {% for category_name, tasks in by_categories %}
        <div class="category">
            <span>{{ category_name }}</span>
            {% for task in tasks %}
                <div class="task">
                    {% if task.is_solved %}
                        <span class="solved">{{ task.score }}</span>
                    {% elif task.is_open %}
                        <a class="open" href="{{ task.get_absolute_url }}">{{ task.score }}</a>
                    {% else %}
                        <span class="closed">{{ task.score }}</span>
                    {% endif %}
                    <small> {{ task.solutions_count }} </small>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}