{% extends "base.html" %}

{% block page_header %}TASKS{% endblock %}

{% block content %}

    <div class="tasks row">
      {% for category_name, tasks in by_categories %}
        <div class="col-md-2">
          <h2>{{ category_name }}</h2>
          {% for task in tasks %}
          <div class="task">
            {% if task.is_solved %}
              <p><a class="btn btn-success" disabled="disabled">{{ task.score }}. {{ task.name }}</a></p>
            {% elif task.is_open %}
              <p><a class="btn btn-default" href="{{ task.get_absolute_url }}" role="button">{{ task.score }}. {{ task.name }}</a></p>
            {% else %}
              <p><a class="btn btn-default" disabled="disabled">{{ task.score }}. {{ task.name }}</a></p>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

{% endblock %}